<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_reparto.descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_reparto_path(@tipo_reparto) %> |
<%= link_to 'Back', tipo_repartos_path %>
