<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @estado_reparto.estado %>
</p>

<%= link_to 'Edit', edit_estado_reparto_path(@estado_reparto) %> |
<%= link_to 'Back', estado_repartos_path %>
