<title>Control de Entregas</title>
<div class="panel panel-default" id="panel-titulos">
	<div class="panel-body">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
			<li class="breadcrumb-item">Reparto </li>
			<li class="breadcrumb-item">Reportes </li>
	  	<li class="breadcrumb-item active">Control de Entregas</li>
		</ol>
	</div>
</div>