<div id="carga_porciones">
	<% if !@porciones.nil?  %>
	    <%=select_tag "Porcion", options_from_collection_for_select(@porciones, "id", "codigo_nombre"), :prompt=> "Seleccione" , :class => "form-control input-sm", :onchange => "cargarRutas();"%>
	<%else%>
	  	<select name="Porcion" id="Porcion" class="form-control input-sm" ><option value="">Seleccione</option>></select>
	<%end%>
</div>	
